*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    width: 100%;
    background:  #FFBD33;
    /* background-image: linear-gradient(130deg, pink, #f6d365); */
}
.box{
    margin: 120px auto;
    max-width: 600px;
    width: 100%;
    /* border-color: black; */
    background-color: bisque;
    border-radius: 25px;
    padding: 25px;
}
.box header{
    font-size:40px;
    font-weight: 800px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.box inputText{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0; 
} 
.inputText input{
    width: 80%;
    height: 100%;
    border: 02px solid gray;
    font-size: 25px; 
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 17px;
    margin-left: 14px;
}
.inputText button{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    color: white;
    background: #FF6D00;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-left: 5px; */
    margin: 20px 0; 
    
}

.inputText button:hover {
    /* background: pink; */
    transform: scale(1.2);
}
.box .todolist{
    max-height: 1350px;
    overflow-y: auto;
}
.todo{
    margin: 10px;
    background: white;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 47px;
    align-items: center;
}
.todone{
    text-decoration: line-through;
    margin: 10px;
    background: rgb(235, 215, 40);
    opacity: .7;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 30px;
    line-height: 47px;
    /* align-items: center; */
}

.pressDoneBtn{          
    background-color: rgb(68, 194, 68);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
}
.pressBinBtn{
    background-color: rgb(238, 74, 74);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.clearAll button{
    border: none;
    outline: none;
    color: white;
    background: #8E49E8;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 16px;
}